.bg-fgo-rare {
	background-color: #B9B9B9 !important;
}

.bg-fgo-common {
	background-color: #908067 !important;
}

div.member-outer {
	padding: 3px;
	display: flex;
}

div.member-container {
	white-space: nowrap !important;
    position: relative;
    text-align: center;
    color: white;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.member-container > img {
	opacity: 0.25;
    filter: alpha(opacity=25); /* For IE8 and earlier */
	-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}

div.member-checked {
	background: rgb(86, 180, 239); /* fallback */
	background:
		linear-gradient(135deg, transparent 10%, rgb(86, 180, 239) 0) top left,
		linear-gradient(225deg, transparent 10%, rgb(86, 180, 239) 0) top right,
		linear-gradient(315deg, transparent 3%, rgb(86, 180, 239) 0) bottom right,
		linear-gradient(45deg,  transparent 3%, rgb(86, 180, 239) 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6), 0px 0px 8px rgba(82, 168, 236, 0.6) inset;
	border-radius: 10% 10% 3% 3%;
}

div.member-checked > img {
	opacity: 1 !important;
    filter: alpha(opacity=100) !important; /* For IE8 and earlier */
	-webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%)!important;
}

/* Bottom left text */
div.member-np {
    position: absolute;
    bottom: 5%;
    right: 5%;
	text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}