/*.modal-backdrop {background: none;}*/

.bg-fgo-rare {
	background-color: #B9B9B9 !important;
}

.bg-fgo-common {
	background-color: #908067 !important;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .20rem .3rem;
  font-size: .775rem;
  line-height: .4;
  border-radius: .1.5rem;
}

.class_icon_box {
  border-right: 1px dashed #333;
}

div.member-outer {
    padding: 3px;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.member-container {
	white-space: nowrap !important;
    position: relative;
    text-align: center;
    color: white;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div.member-container > img {
	opacity: 0.25;
    filter: alpha(opacity=25); /* For IE8 and earlier */
	-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
	text-shadow: none !important;
}

div.member-checked {
	background: rgb(86, 180, 239); /* fallback */
	background:
		linear-gradient(135deg, transparent 10%, rgb(86, 180, 239) 0) top left,
		linear-gradient(225deg, transparent 10%, rgb(86, 180, 239) 0) top right,
		linear-gradient(315deg, transparent 3%, rgb(86, 180, 239) 0) bottom right,
		linear-gradient(45deg,  transparent 3%, rgb(86, 180, 239) 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6), 0px 0px 8px rgba(82, 168, 236, 0.6) inset;
	border-radius: 10% 10% 3% 3%;
}

div.member-checked > img {
	opacity: 1 !important;
    filter: alpha(opacity=100) !important; /* For IE8 and earlier */
	-webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
}

/* Bottom left text */
div.member-np {
    position: absolute;
    bottom: 5%;
    right: 5%;
	text-shadow: 
     1px   0  0   #000, 
    -1px   0  0   #000, 
     0    1px 0   #000, 
     0   -1px 0   #000, 
     1px  1px 0   #000, 
    -1px -1px 0   #000, 
     1px -1px 0   #000, 
    -1px  1px 0   #000,
	1px 1px 10px #000,
	1px 1px 10px #ccc;
}

div.member-mashu {
    position: absolute;
    bottom: 5%;
    left: 5%;
	color: #aaa;
	text-shadow:1px 1px 10px #000, 1px 1px 10px #ccc;
}

div.member-locked {
    position: absolute;
    bottom: 5%;
    left: 5%;
	color: #F1D65B;
	text-shadow:1px 1px 10px #000, 1px 1px 10px #ccc;
}

div.member-limited {
    position: absolute;
    bottom: 5%;
    left: 5%;
	color: #636E7D;
	text-shadow:1px 1px 10px #000, 1px 1px 10px #ccc;
}

div.member-eventonly {
    position: absolute;
    bottom: 5%;
    left: 5%;
	color: #4EB2D8;
	text-shadow:1px 1px 10px #000, 1px 1px 10px #ccc;
}

.header-shadow {
	color: #FFF;
	text-shadow:1px 1px 10px #000, 1px 1px 10px #ccc;
}

/* share buttons */

#share button {
	margin: 5px;
  	font-size: 24px;
	width: 40px;
	height: 40px;
  	color: #fff;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

#share button:hover {
	opacity: 1;
}

/* share colors */

.facebook {
 	background: #3b5998;
}

.twitter {
  	background: #55acee;
}

.tumblr {
  	background: #2f3d51;
}